/* Box Model Hack */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100vh;
}

img,
video {
	height: auto;
	width: 100%;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
	--font: "Quicksand", "Shadows Into Light", sans-serif;
	--font-backup: "Source Sans Pro", "Roboto Condensed", sans-serif;
	--main-teal: #5195a7;
     --main-black: #000000;
	--main-offwhite: #dbdbdb;
}

body {
	font-family: var(--font);
	background: linear-gradient(#5195a7, #000000);
	color: var(--main-offwhite);
}
a {
	text-decoration: none;
	color: var(--main-offwhite);
}
li {
	list-style: none;
}

/******************************************
/* LAYOUT
/*******************************************/

footer {
     background: linear-gradient(#000000);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

