/* Box Model Hack */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100vh;
}

img,
video {
	height: auto;
	width: 100%;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
	--font: "Quicksand", "Shadows Into Light", sans-serif;
	--font-backup: "Source Sans Pro", "Roboto Condensed", sans-serif;
	--main-black: #000000;
     --main-softpurple: #76588f;
	--main-offwhite: #dbdbdb;
}

body {
	font-family: var(--font);
	background: linear-gradient(var(--main-offwhite), var(--main-softpurple));
}
a {
	text-decoration: none;
	color: var(--main-offwhite);
}
li {
	list-style: none;
}

/******************************************
/* LAYOUT
/*******************************************/

footer {
     
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

main {
     height: 100%;
     width: 100%;
     text-align: center;
}

main section{
     display:flex;
     flex-direction: column;
}

main h1 {
     font-size: 5rem;
}

