/* Box Model Hack */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100vh;
	background: linear-gradient(var(--main-softpurple), var(--main-black));
}

img,
video {
	height: auto;
	width: 100%;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
	--font: "Quicksand", "Shadows Into Light", sans-serif;
	--font-backup: "Source Sans Pro", "Roboto Condensed", sans-serif;
	--main-black: #000000;
    --main-softpurple: #6569b0;
	--main-offwhite: #dbdbdb;
}

body {
	font-family: var(--font);
	
}

a {
	text-decoration: none;
	color: var(--main-offwhite);
}
li {
	list-style: none;
}

/******************************************
/* LAYOUT
/*******************************************/

footer {
     
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*************
**** MAIN ****
**************/

main {
	height: 100%;
	width: 100%;
	text-align: center;
}

.main-section{
	position: fixed;
}

main h1 {
	color: var(--main-offwhite);
    font-size: 5rem;
	line-height: 1.5;
	margin: 0 auto;
}

main nav {
	padding-top: 20px;
	line-height: 2;
	font-size: 1.4rem;
}

/*************
**** ABOUT ****
**************/